/* Fonts */
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
        url('../fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Style */
body {
    font: 18px/30px 'kaushan_scriptregular', arial;
    background-color: #aaa;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 50px 0;
    text-align: center;
    text-shadow: 2px 2px 2px white;
}

.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.gallery li {
    width: 120px;
    height: 120px;
    /* overflow: hidden; */
    border: 5px solid #666;
    float: left;
    position: relative;
    margin: 10px;
    /* display: inline-block; */
}

.gallery li,
.gallery li span,
.gallery li a img {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    background-color: rgba(200, 200, 200, .7);
    text-shadow: 1px 1px 1px #ddd;
    color: #333;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

/* Overlay */

.overlay {
    width: 0;
    height: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 999;
    transition: .5s;
    text-align: center;
    padding: 100px;
}

.overlay:target {
    height: auto;
    width: auto;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);

}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

.overlay:target img {
    animation: Animasi1 .5s;
}

.overlay .close {
    position: absolute;
    color: white;
    text-decoration: none;
    top: 50px;
    left: 50%;
    margin-left: -25px;
    background: rgba(0, 0, 0, .8);
    line-height: 14px;
    padding: 8px;
    border: 2px solid white;
    opacity: 0;
}

.overlay:target .close {
    animation: Animasi2 .5s .5s forwards;
}


/* Animasi */

@keyframes Animasi1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes Animasi2 {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}